@media (max-width: 700px) {
  // Hide On Small Screen Class
  .hide-sm {
    display: none;
  }

  // Text Styles
  .x-large {
    font-size: 3rem;
  }

  .large {
    font-size: 2rem;
  }

  .medium {
    font-size: 1.3rem;
  }

  .lead {
    font-size: 1rem;
  }
}
